<div class="wrapper" id="contact">
  <!--Section: Contact v.1-->
  <section class="pb-5">

    <!--Section heading-->
    <h2 class="title">Contact us</h2>
    <!--Section description-->
    <!-- <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure
      provident
      voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p> -->

    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 my-4">
        <!--Form with header-->
        <mdb-card>
          <mdb-card-body>
            <!--Header-->
            <div class="form-header accent-1">
              <h3>
                <mdb-icon fas icon="envelope"></mdb-icon> Write to us:
              </h3>
            </div>
            <!--Body-->
            <div class="md-form">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form3" class="form-control">
              <label for="form3">Your name</label>
            </div>
            <div class="md-form">
              <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form2" class="form-control">
              <label for="form2">Your email</label>
            </div>
            <div class="md-form">
              <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form32" class="form-control">
              <label for="form34">Subject</label>
            </div>
            <div class="md-form">
              <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
              <textarea mdbInput type="text" id="form8" class="md-textarea"></textarea>
              <label for="form8">Message</label>
            </div>
            <div class="text-center">
              <button mdbBtn color="light-blue" class="waves-light" mdbWavesEffect>Submit</button>
            </div>
          </mdb-card-body>
        </mdb-card>
        <!--Form with header-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-5 my-4">
        <section id="contact-infos">
          <figure>
            <a href="tel:{{info.phoneNumber}}"><img src="../../../assets/img/icons/phone.png" alt="phone icon"></a>
            <figcaption><a href="tel:{{info.phoneNumber}}">{{info.phoneNumber}}<br><br></a></figcaption>
          </figure>
          <figure>
            <a href="mailto:{{info.email}}"><img src="../../../assets/img/icons/email.png" alt="email icon"></a>
            <figcaption><a href="mailto:{{info.email}}">{{info.email}}<br><br></a></figcaption>
          </figure>
          <figure>
            <a
              href="https://www.google.com/maps/dir//Polytechnique+Montr%C3%A9al,+2900+Edouard+Montpetit+Blvd,+Montreal,+QC+H3T+1J4,+Canada/@45.4790683,-73.7482601,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4cc919f2a9fc4d71:0xda267ca95684133e!2m2!1d-73.6131831!2d45.5047939">
              <img src="../../../assets/img/icons/location.png" alt="location icon"></a>
            <figcaption><a
                href="https://www.google.com/maps/dir//Polytechnique+Montr%C3%A9al,+2900+Edouard+Montpetit+Blvd,+Montreal,+QC+H3T+1J4,+Canada/@45.4790683,-73.7482601,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4cc919f2a9fc4d71:0xda267ca95684133e!2m2!1d-73.6131831!2d45.5047939">
                500 Chemin de Polytechnique<br> Montréal, QC<br> H3T 1J4<br><br></a></figcaption>
          </figure>
        </section>
      </div>
      <!--Grid column-->
    </div>
  </section>
  <!--Section: Contact v.1-->
</div>