#home-image {
    background-image: url("../../../assets/img/home.png"); 
    background-position: center center;
    background-size: cover;
    clip-path: circle(100vmax at 55% 65%); 
    height: 100%;
    left: 0;
    opacity: 1; 
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.carousel {
    height: 100vh;
    min-height: 50vw;
    padding-bottom: 0;
    background: #040406;
    position: relative;
}