<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" (focusout)="drawer.close()"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode="over" [fixedInViewport]="true" fullscreen>
        <mat-nav-list>
            <a *ngFor="let link of links" type="button" class="nav-but-mobile" href="{{link.href}}">{{link.name}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="content" class="justify-content-center">
        <mat-toolbar id="bar" color="primary">
            <button *ngIf="!isBigScreen" id="toggle" class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                aria-label="Toggle navigation" (click)="drawer.toggle()"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
            </button>
            <span *ngIf="!isBigScreen" class="fill-remaining-space"></span>
            <span *ngIf="isBigScreen" class="fill-remaining-space"></span>
            <a href="/home">
                <img src="../../../assets/img/logo.png" alt="Polyloop Logo" id="logo">
            </a>
            <nav class="nav nav-pills flex-column flex-sm-row" *ngIf="isBigScreen">
                <li *ngFor="let link of links">
                    <a type="button" class="nav-but" routerLink="{{link.href}}">{{link.name}}</a>
                </li>
            </nav>
            <span *ngIf="!isBigScreen" class="fill-remaining-space"></span>
            <span *ngIf="isBigScreen" class="fill-remaining-space"></span>
            <li>
                <a (click)="this.switchLanguage()">
                    <img id="lang-img" src="../../../assets/img/language/0.png" alt="Language" />
                </a>
            </li>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>