
#container {
    display: table;
    padding: 30px
}

.mission-text {
    color:grey;
    font-size: 25px;
}

.cell {
    display: table-cell;
    padding: 30px;
    vertical-align: middle; 
}

img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
}