<div class="wrapper">
    <div class="title">
        <h1>Mission</h1>
    </div>

    <div id="container">
        <div style="display: table-row;">
            <div class="cell">
                <p class="mission-text" *ngFor="let el of text">{{el}}</p>
            </div>
            <div class="cell">
                <img src="../../../assets/img/hyperloop.jpeg" alt="Elon Musk at SpaceX">
            </div>

        </div>
        <div style="display: table-row;">
            <div class="cell">
                <img src="../../../assets/img/hyperloop2.png" alt="Hyperloop concept image">
            </div>
            <div class="cell">
                <p class="mission-text" *ngFor="let el of text2">{{el}}</p>
            </div>
        </div>
    </div>
</div>