.wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#tube {
    height: 70vh;
    width: 100%;
}

.align-self-end {
    margin-right: 10vw !important;
}

#center {
    width: 30vw;
}

.icon {
    width: 30px;
}

@media screen and (max-width: 767px) {
    #center {
        width: 90vw;
        margin-bottom: 10px;
    }
}
