.wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#tube {
    width: 60%;
}

.align-self-end {
    margin-right: 10vw !important;
}

#card {
    background-image: url('../../../assets/img/tube.png'); 
    min-height: 70vh;
}

#center {
    width: 30vw;
}


.icon {
    width: 30px;
}