<div class="wrapper">
    <!-- Mission -->
    <div class="card card-cascade wider reverse">
        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/img/tube.png" alt="Hyperloop tube rendered" id="tube">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>{{text.title}}</strong></h4>
            <!-- Text -->
            <p class="card-text" *ngFor="let line of text.text">{{line}}<br></p>
            <a mdbBtn color="blue" class="waves-light" mdbWavesEffect href="/hyperloop">
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                {{text.button}}
            </a>
        </div>
    </div>
    <!-- Mission -->


    <!-- COMPETITION -->
    <section>
        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold text-center">{{text.comp}}</h2>
        <p class="px-5 mb-5 pb-3 lead grey-text text-center">{{text.introCompet}}</p>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-4" style="margin-top: auto; margin-bottom: auto;">
                <!--Grid row-->
                <div class="row mb-2" *ngFor="let item of col1">
                    <div class="col-2">
                        <img class="icon" [src]="item.iconSrc" fas>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">{{item.title}}</h5>
                        <p class="grey-text">{{item.details}}</p>
                    </div>
                </div>
                <!--Grid row-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-2 center-on-small-only flex-center">
                <img src="../../../assets/img/tube.png" alt="" class="z-depth-0" id="center">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4" style="margin-top: auto; margin-bottom: auto;">
                <!--Grid row-->
                <div class="row mb-2" *ngFor="let item of col2">
                    <div class="col-2">
                        <img class="icon" [src]="item.iconSrc" fas>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">{{item.title}}</h5>
                        <p class="grey-text">{{item.details}}</p>
                    </div>
                </div>
                <!--Grid row-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <p class="px-5 mb-5 pb-3 lead grey-text text-center">{{text.moreInfo}}
            <a href="https://www.spacex.com/hyperloop">https://www.spacex.com/hyperloop</a>
        </p>
    </section>
</div>