<div class="wrapper">
    <!-- Timeline -->
    <section class="timeline">
        <div class="container">
            <div *ngFor="let event of text.events; let i = index">
                <div *ngIf="i % 2 == 0">
                    <!-- Left Items -->
                    <div class="timeline-item">
                        <div class="timeline-img"></div>
                        <div *ngIf="i < text.events.length" class="timeline-content js--fadeInLeft">
                            <h2>{{text.events[i].title}}</h2>
                            <div class="date">{{text.events[i].date}}</div>
                            <p>{{text.events[i].text}}</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>
                    <!-- Left Items -->
                    <div class="timeline-item">
                        <div class="timeline-img"></div>
                        <!-- Right Items -->
                        <div *ngIf="i + 1 < text.events.length" class="timeline-content timeline-card js--fadeInRight">
                            <div class="timeline-img-header">
                                <h2>{{text.events[i+1].title}}</h2>
                            </div>
                            <div class="date">{{text.events[i+1].date}}</div>
                            <p>{{text.events[i+1].text}}</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                        <!-- Right Items -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Timeline -->
</div>