<div class="team-container" style="background: black;"> 

    <div class="title">
        <h1>{{data.currentSections[1]}}</h1>
    </div>

    <div class="field">
        <mat-form-field>
            <input
                matInput
                placeholder="Search for a team member"
                aria-label="title"
                [matAutocomplete]="auto"
                [formControl]="titleControl"
                (input)="searchMember()"
            >
            <mat-icon
                class="searchIcon"
                matSuffix
                (click)="searchMember()"
            >search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchMember()">
                <mat-option
                    *ngFor="let title of filteredMembers | async"
                    [value]="title"
                >
                    <span>{{title}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div id="filter">
        <!-- <div id="assos">
            <button mat-raised-button color="primary" (click)="filterByAssociation('NONE')"> Show all</button>
            <button mat-raised-button color="primary" *ngFor="let asso of associations"
                (click)="filterByAssociation(asso)">{{asso}}</button>
        </div>

        <div id="roles">
            <button mat-raised-button color="primary" (click)="filterByRole('NONE')"> Show all roles</button>
            <button mat-raised-button color="primary" *ngFor="let role of roles"
                (click)="filterByRole(role)">{{role}}</button>
        </div> -->
    </div>

    <ul>
        <li class="member" *ngFor="let member of searchedMembers">
            <div *ngIf="!member.hidden">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{member.firstName}}</mat-card-title>
                        <mat-card-subtitle>{{member.role}} </mat-card-subtitle>
                    </mat-card-header>
                    <img class="member-image" mat-card-image src="{{member.pictureURL}}"
                        alt="{{member.fullName}} profile picture">
                    <!-- <mat-card-content>
                        <p> {{member.description}} </p>
                    </mat-card-content> -->
                </mat-card>
            </div>
        </li>
    </ul>
</div>