.team-container {
    display: table;
    justify-content: center; 
    margin: 0 auto;
    min-height: 100vh;

    .title {
        margin-top: 110px;
    }

    .member {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    ul {
        margin-right: auto;
        margin-left: auto;
        max-width: 1870px;
        padding: 0;
        text-indent: 0;
        text-align:center;
        overflow: hidden;
        width: auto;
    }

    .searchIcon {
        cursor: grabbing;
    }

    .field {
        padding-top: 0.4%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dfd5d5;
    }

    li {
        list-style: none;
        display: inline-block;
        margin: 0;
        max-width: 350px;
        padding: 0;
        position: relative;
        text-indent: 0;
    }

    .member-image {
        background-color: #004E72;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        opacity: 0.5;
        padding: 0;
        position: relative;
        transition: opacity .25s;
    }
}

// ::ng-deep .mat-card{
//     border: 5px solid whitesmoke !important,
// }

#filter {
    display: table;
    margin-top: 100px;
    justify-content: center; 

    width: 100%;

    #assos {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;


    }

    #roles {
        margin-bottom: 30px;
        text-align: center;
    }

    button {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1548px) and (min-width: 1037px) {
    #team-container ul li {
        width: 33.3333333333%;
    }

    .member-expand {
        width: 300%;
    }
}

@media screen and (max-width: 1015px) {

    .member {
        margin-bottom: 0px;
    }
}