<div>

    <!-- Banner Image -->
    <div class="row" style="max-width: 100vw; margin: 0;">
        <div class="col-md-12 mb-3" style="padding: 0;">
            <div class="view overlay d-flex justify-content-center banner-img" style="width: 100%; height: auto;">
                <img src="../../../assets/img/team.jpg" class="img-fluid" id="header-img"
                    alt="Team Image">
            </div>
        </div>
    </div>
    <!-- Banner Image -->

    <!-- Section: Team v.1 -->
    <section class="team-section text-center my-5 wrapper-not-top">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">{{getTitle()}}</h2>
        <!-- Section description -->
        <!-- <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Fugit, error
            amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p> -->
        <!-- Grid row -->
        <div *ngFor="let team of teams">
            <a name="{{team.subTeamName}}"></a>
            <h2 class="subteam d-flex justify-content-center">{{team.subTeamName}}</h2>
            <h5>{{team.description}}</h5>
            <div *ngFor="let member of team.members; let i = index" id="members-display">
                <div *ngIf="i % 4 == 0" class="row justify-content-center">
                    <!-- Grid column -->
                    <div *ngIf="i < team.members.length" class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="avatar mx-auto">
                            <img [src]="team.members[i].pictureURL"
                                class="rounded-circle z-depth-1" alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">{{team.members[i].name}}</h5>
                        <p class="text-uppercase blue-text">
                            <strong>{{team.members[i].role}}</strong>
                        </p>
                        <ul class="list-unstyled mb-0">
                            <!-- Linkedin -->
                            <a *ngIf="team.members[i].linkedIn !== undefined" class="p-2 fa-lg fb-ic" href="https://linkedin.com/in/{{team.members[i].linkedIn}}"  target="_blank">
                                <mdb-icon fab icon="linkedin-in" class="blue-text"> </mdb-icon>
                            </a>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div *ngIf="i + 1 < team.members.length" class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="avatar mx-auto">
                            <img [src]="team.members[i + 1].pictureURL"
                                class="rounded-circle z-depth-1" alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">{{team.members[i+ 1].name}}</h5>
                        <p class="text-uppercase blue-text">
                            <strong>{{team.members[i+ 1].role}}</strong>
                        </p>
                        <ul class="list-unstyled mb-0">
                            <!-- Linkedin -->
                            <a *ngIf="team.members[i+1].linkedIn !== undefined" class="p-2 fa-lg fb-ic" href="https://linkedin.com/in/{{team.members[i+ 1].linkedIn}}" target="_blank">
                                <mdb-icon fab icon="linkedin-in" class="blue-text"> </mdb-icon>
                            </a>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div *ngIf="i + 2 < team.members.length" class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="avatar mx-auto">
                            <img [src]="team.members[i + 2].pictureURL"
                                class="rounded-circle z-depth-1" alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">{{team.members[i+ 2].name}}</h5>
                        <p class="text-uppercase blue-text">
                            <strong>{{team.members[i + 2].role}}</strong>
                        </p>
                        <ul class="list-unstyled mb-0">
                            <!-- Linkedin -->
                            <a *ngIf="team.members[i+2].linkedIn !== undefined" class="p-2 fa-lg fb-ic" href="https://linkedin.com/in/{{team.members[i + 2].linkedIn}}" target="_blank">
                                <mdb-icon fab icon="linkedin-in" class="blue-text"> </mdb-icon>
                            </a>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div *ngIf="i + 3 < team.members.length" class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                        <div class="avatar mx-auto">
                            <img [src]="team.members[i + 3].pictureURL"
                                class="rounded-circle z-depth-1" alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">{{team.members[i+ 3].name}}</h5>
                        <p class="text-uppercase blue-text">
                            <strong>{{team.members[i+ 3].role}}</strong>
                        </p>
                        <ul class="list-unstyled mb-0">
                            <!-- Linkedin -->
                            <a *ngIf="team.members[i+3].linkedIn !== undefined" class="p-2 fa-lg fb-ic" href="https://linkedin.com/in/{{team.members[i+ 3].linkedIn}}" target="_blank">
                                <mdb-icon fab icon="linkedin-in" class="blue-text"> </mdb-icon>
                            </a>
                        </ul>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <div class="line d-flex justify-content-center"></div>
        </div>
    </section>
</div>