<div class="carousel">
    <div data-clip-mobile="center" data-clip-x="55%" data-clip-y="65%" id="home-image">
        <!-- <div class="carousel-text" data-position-mobile="center" style="top:25%; left:60%;">
            <h3 class="header3">Fédération des Étudiants Libanais à Montréal</h3>
            <h2 class="header2">TOLLAB</h2>
            <h4 class="header3"><span>Avec vous tout au long du chemin</span></h4>
        </div> -->
    </div>
    <ul class="CarouselNav" style="display: none;">
        <li><button data-target="0" class="Current">01</button></li>
        <li><button class="Next" data-target="NEXT"><span>&gt;</span></button></li>
    </ul>
</div>